.header{
    height: 11vh;
    display: flex;
    justify-content: space-between;
    background-color: rgb(15, 15, 15);
    box-shadow: 0 0 1rem black;
}

.logo{
    width: 60px;
    height: 60px;
    border-radius: 100px;
    margin: 10px;
}

ul{
    display: flex;
    margin: 13px;
}

li{
    color: blueviolet;
    list-style-type: none;
    padding-left: 2rem;
}

a{
    text-decoration: none;
}

