

.separa{

  box-shadow: 0 0 1rem rgb(74, 74, 74);
  background-color: rgb(255, 255, 255);
  width: 260px;
  height: 370px;
  border-radius: 10px;
}

.separa:hover{
  box-shadow: 0 0 1rem rgb(208, 171, 241);
}